.contenedor{
    margin: 10px;
    width: 100%;
}

hr{
    margin-top: 10px;
    margin-bottom: 10px;
}

.contCitas{
    height: 93%;
    background-color: #f3edf7;
    border-radius: 17px;
}

h3{
   padding-left: 20px;
   padding-top: 15px;
}