.contenedor{
    width: 100%;
    margin: 10px;
}

.titulo{
    margin-top: 10px;
}

p{
    margin: 0px;
}

.boton{
    float: right;
    background-color: #BB6ECE;
    border-color: #BB6ECE;
    border-radius: 30px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.boton:hover{
    background-color: white;
    border-color: #BB6ECE;
    color: black
}